
.section.footer {
  padding: 12rem 0;
  background-color: #000
}

.social-links i {
  color: #aeaeae;
}

.widget-title {
  color: #ffffff;
  font-size: 20px;
  padding: 0 0 30px;
  margin: 0;
  line-height: 1;
}

.small-title {
  color: #000;
  font-size: 20px;
  padding: 0 0 30px;
  margin: 0;
  line-height: 1;
}

.copyrights {
  background-color: #000;
  border-top: 1px solid #181818;
  padding: 30px 0;
}

.copyrights li a {
  color: #aaa;
}

.copyrights ul {
  padding: 0 !important;
  margin: 15px 0 0 !important;
}

.copyrights ul li {
  line-height: 1;
  font-size: 15px;
  margin: 0 0 0 8px !important;
}

.cop-logo img {
  margin-top: 9px;
  opacity: 0.5;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.cop-logo img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
}

.newsletter-widget .form-control {
  border-radius: 0;
  font-size: 14px;
  box-shadow: none !important;
  height: 48px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 280px;
}

.newsletter-widget img {
  display: block;
  max-width: 280px;
  margin-top: 40px;
}

.newsletter-widget p {
  margin-bottom: 30px;
}

.newsletter-widget .btn {
  padding-left: 23px;
  padding-right: 23px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer .list-widget li {
  margin: 0 0 5px !important;
}

.footer .tags-widget li {
  margin-bottom: 5px;
  margin-top: 5px;
}

.footer .form-control,
.footer p,
.footer a {
  color: #aaa;
}

.footer a:hover {
  color: #ffffff;
}

.absolute-widget {
  border-top: 0 none;
  display: block;
  margin-top: -45%;
  padding: 6rem 4rem;
  position: relative;
  background: url(upload/formbg.jpg) no-repeat top center #161616;
}

.absolute-widget .form-control {
  background-color: transparent;
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 14px;
  height: 40px;
  padding-bottom: 15px;
  box-shadow: none !important;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 15px;
}

.absolute-widget textarea.form-control {
  height: 100px;
}

.absolute-widget .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

.absolute-widget .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.absolute-widget .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
